body{
    background-color: #6a9b98;
}
.nav-bar {
    position: sticky;
    width: 100%;
    background-color: #6f9797;
    height: 50px;
}
.heading{
    position: sticky;
    display:flex;
    justify-content: left;
    height:10%;
    width:30%;
    background-color: rgba(64, 144, 190, 0.9);
    top: 20%;
    left: 35%;
}
.main-container{
    height:70%;
    width:30%;
    font-size:25px;
    position: absolute;
    top: 19%;
    left: 35%;
    overflow-x:hidden;
    background-color: rgba(64, 146, 179, 0.9);
}
h5{
    padding-top:10px;
    font-size:40px;
    font-family: 'Voltaire', sans-serif;
    opacity:0.7;
    color:white;
}
h2{
    color:black;
    font-size:50px;
    text-align:center;
    margin-left:100px;
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
background: #888; 
}
::-webkit-scrollbar-thumb:hover {
background: black; 
}